@model IEnumerable<PizzaShop.Models.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">All orders</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PriceCents)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryPostCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryCity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriceCents)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryPostCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeliveryCity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Detail", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
