@model PizzaShop.Models.Pizza

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pizza</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PriceEur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceEur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PriceEur, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @for (var key = 0; key < ViewBag.SavedToppings.Length; key++)
        {
            <div class="form-group">
                <label class="control-label col-md-2">@((key + 1).ToString() + ".Topping")</label>
                <div class="col-md-10">
                    @Html.DropDownList("Topping" + (key + 1).ToString(), new SelectList(ViewBag.AllToppings, "Value", "Text", ViewBag.SavedToppings[key].ToString()), null, new { @class = "form-control" })
                </div>
            </div>
        }

        @if (ViewBag.DuplicateToppings != null)
        {
            <div class="form-group">
                <label class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <span class="text-danger field-validation-error">@ViewBag.DuplicateToppings</span>
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
