@{
    ViewBag.Title = "Pizzas";
}

<div class="row">
    <div class="col-md-12">
        <h3>Choose your pizza</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="menu-container">
            @Html.Partial("../Shared/MenuItem")
            @Html.Partial("../Shared/MenuItem")
            @Html.Partial("../Shared/MenuItem")
            @Html.Partial("../Shared/MenuItem")
            @Html.Partial("../Shared/MenuItem")
        </div>
    </div>
</div>